# Maven
target/
*.jar
*.war

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# IDE
*.iml
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.expo/
*.lock

# Logs
*.log

# Python
mail-service/venv/
mail-service/.env
__pycache__/
*.pyc
